@model DeliveryModel
@{ 
    ViewData["Title"] = "Выбор способа доставки";
}

<h1>Способ доставки</h1>

<form action="@Url.Action("StartDelivery")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId"/>
    <div class="form-group">
        <label form="code">Способ доставки:</label>
        <select class="form-control" name="uniquecode">
            @foreach(var e in Model.Method)
            {
                <option value="@e.Key">@e.Value</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success" >Далее</button>
</form> 