@{
    ViewData["Title"] = "Home Page";
}

<h1>Гусак Всеволод Николаевич</h1>
<h6>Мужчина, 18 лет, родился 2 октября 2002 года</h6>

<h6><i>желаемая должность</i></h6>
<p><strong>Junior C# devoloper</strong></p>
<p>Начало карьеры, студент</p>
    <li>    Информационные технологии, Интернет, Мультимедиа</li>
    <li>    Производство, Технологии</li>
    <li>    Наука, Образование</li>
<p><strong>Занятость:</strong>полная, частичная,проектная</p>
<p><strong>График работы:</strong>полный день, гибкий</p>
<p><strong>Желательное время в пути на работу:</strong>главное, чтобы было в шаговой доступности от метро</p>

<h6>Образование</h6>
<p>Незаконченное высшее, РТУ МИРЭА 2024(год окончания)</p>
<p><strong>Знание языков:</strong>русский, английский(на уровне простых диалогов и чтения не тяжелых книг)</p>
<p><strong>Ключевые навыки:</strong>MS SQL,ASP.NET MVC,C++(на уровня университета),ООП,Математический Анализ,Линейная алгебра и геометрия</p>

<h6>О себе</h6>
<p>Обычный парень из Башкирии, учился в Средне-статистической школе до 8 класса, в 8-мом классе пошел в учится в Кадетский корспус 
    <a href="https://bkkpfo.ru/">БКК ПФО</a>
    В 2020 сдал ЕГЭ и поступил в РТУ МИРЭА на факультет Информатики и вычислительной техники</p>